name: CI Pipeline

on:
  push:
    branches:
      - dev
      - feature/*

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}

    - name: Login to Amazon ECR
      uses: aws-actions/amazon-ecr-login@v2

    - name: Build Docker image
      run: |
        docker build -t ${{ secrets.ECR_REPOSITORY }}:${{ github.sha }} .

    - name: Test Docker image
      run: |
        docker run --rm ${{ secrets.ECR_REPOSITORY }}:${{ github.sha }} echo "Docker image OK"

    - name: Tag Docker image
      run: |
        docker tag \
          ${{ secrets.ECR_REPOSITORY }}:${{ github.sha }} \
          ${{ secrets.ECR_REPOSITORY }}:latest

    - name: Push Docker image to ECR
      run: |
        docker push ${{ secrets.ECR_REPOSITORY }}:${{ github.sha }}
        docker push ${{ secrets.ECR_REPOSITORY }}:latest

    - name: Merge branch into main
      run: |
        git config user.name "github-actions"
        git config user.email "github-actions@github.com"
        git fetch origin
        git checkout main
        git merge origin/${{ github.ref_name }}
        git push origin main
